body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #f2f2f2;
}

.body-container {
  background-color: white;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 10px 0 10px 0px #dbdbdb,
    -10px 0 10px 0px #dbdbdb;
}

.inner-page {
  text-align: left;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  position: relative;
}

.main-page-header {
  background-color: #3c7098;
  background-image: url("../img/polygon.png"), url("../img/background photo.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom -2px left -1px, top;
  background-size: 1204px auto, 1200px auto;
  margin-bottom: 60px;
}

.inner-page .main-header {
  position: absolute;
  text-align: center;
  width: 1200px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0 73px;
  background-color: #ffffff;
  margin-bottom: 75px;
}

.inner-page .main-navigation {
  margin-bottom: 0;
}

.main-header-logo {
  position: absolute;
  left: 530px;
}

.main-header .welcome {
  margin-bottom: 72px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.site-navigation li {
  width: 240px;
  padding: 15px 0;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
  text-align: right;
}

.site-navigation li:nth-child(2) {
  margin-right: 90px;
}

.site-navigation a:link,
.site-navigation a:visited {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a,
.site-navigation-current a:visited {
  color: #766357;
}

.sedona-features {
  margin-bottom: 50px;
}

.sedona-features .description {
  font-size: 21px;
  font-weight: bold;
  width: 620px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
}

.sedona-features .features {
  margin-bottom: 51px;
}

.features-list,
.features-town {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  line-height: 21px;
  width: 400px;
  text-align: center;
  background-color: #eeeeee;
}

.feature-item-full-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.feature-item .container {
  background-color: #81b3d2;
  color: #ffffff;
  width: 400px;
}

.feature-item-full-width img {
  align-self: center;
}

.feature-item h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  width: 165px;
  margin-top: 45px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
}

.feature-item b {
  display: block;
  line-height: 21px;
  font-weight: normal;
  margin-bottom: 21px;
}

.feature-comment {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}

.feature-item-full-width .feature-comment {
  width: 305px;
}

.features-town {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.features-town li {
  background-color: #ffffff;
}

.features-town h3 {
  margin-top: 0;
  margin-bottom: 24px;
}

.features-town .feature-comment {
  margin-top: 0;
  margin-bottom: 82px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  line-height: 0;
  height: 160px;
}

.icon>svg {
  margin-bottom: 30px;
}

.search-hotel .interesting {
  display: block;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 25px;
}

.search-hotel .search-offer {
  line-height: 24px;
  color: #333333;
  margin-bottom: 46px;
}

.button {
  font: inherit;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.title-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  width: 570px;
  background-color: #766357;
  margin: 0 auto;
  padding: 30px 0;
}

.title-button:hover {
  background-color: #604e43;
  z-index: 2;
}

.title-button:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-86px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-86px);
  }

  100% {
    transform: translateY(0);
  }
}

.search-form {
  position: absolute;
  left: 475px;
  z-index: 1;
  display: none;
  background-color: #ffffff;
  width: 570px;
  margin: 0 auto;
}

.search-form-show {
  display: block;
  animation: bounce 0.5s;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin: 55px auto;
}

.search-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 0;
  margin-bottom: 30px;
  width: 100%;
}

.search-item:last-child {
  margin-bottom: 0px;
}

.search-item label {
  width: 117px;
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-item .children {
  margin-left: 53px;
  width: 65px;
}

.input-invalid {
  outline: solid #dc3545;
}

.search-item input {
  font: inherit;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
  width: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.search-item .input-number {
  z-index: 1;
  width: 40px;
  padding-left: 0;
  text-align: center;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: transparent;
  outline: 2px solid #e5e5e5;
}

.form-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  background-repeat: no-repeat;
  border: none;
  width: 40px;
  height: 38px;
  vertical-align: bottom;
  background-position: center;
  padding: 0;
  outline: none;
}

.form-icon path {
  fill: #a9a9a9;
}

.form-icon:hover path {
  fill: #000000;
}

.form-icon:focus path {
  fill: #81b3d2;
}

.calendar {
  position: absolute;
  right: 0;
  background: none;
}

.plus:hover line,
.minus:hover line {
  stroke: #000000;
}

.plus:focus line,
.minus:focus line {
  stroke: #81b3d2;
}

.search-button {
  display: block;
  width: 460px;
  background-color: #81b3d2;
  padding: 16px 0;
  font-size: 21px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:focus {
  background-color: #5496bd;
}

.inner-page .filters {
  color: #ffffff;
  background-image: url("../img/filter background.jpg");
  background-color: #81b3d2;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 69px;
  padding-top: 85px;
  font-size: 14px;
  line-height: 21px;
}

.filter ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-left: 41px;
}

.filter fieldset {
  border: none;
  padding: 0;
  width: 226px;
}

.filter .filter-range {
  width: 317px;
}

.filter fieldset:nth-child(2) {
  width: 226px;
  padding-left: 15px;
  margin-right: 245px;
}

.filter legend {
  font-size: 16px;
  margin-bottom: 25px;
}

.filter-range legend {
  margin-bottom: 9px;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 78px;
  padding-left: 65px;
  padding-top: 4px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.filter .filter-option {
  margin-bottom: 23px;
}

.filter .filter-option:last-child {
  margin-bottom: 31px;
}

.filter .filter-price {
  width: 328px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before,
.filter-input-checkbox:hover+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -1px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked+label::after,
.filter-input-checkbox:checked:hover+label::after {
  content: "";
  position: absolute;
  left: -40px;
  top: -1px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:focus+label::before {
  background-color: rgba(255, 255, 255, 0.8);
}

.filter-input-checkbox:disabled+label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input-checkbox:disabled+label::after {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-left: 83px;
  padding: 6px 33px;
  line-height: 20px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus {
  color: #000000;
  background: #ffffff;
}

.search-sorting {
  margin: 0 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 16px;
}

.search-sorting h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.search-sorting ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  margin-right: auto;
}

.sorting-list a {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list a:hover {
  color: #81b3d2;
}

.sorting-list a:focus {
  color: #000000;
}

.sorting-item-current a {
  color: #81b3d2;
}

.sorting-up {
  margin-right: 10px;
}

.sorting-direction-link path {
  fill: rgba(0, 0, 0, 0.3);
}

.sorting-direction-link:hover path {
  fill: #000000;
}

.sorting-direction-link:focus path {
  fill: #81b3d2;
}

.sorting-current path {
  fill: #81b3d2;
}

.sorting-list li {
  margin-right: 34px;
}

.search-result {
  font-size: 21px;
  font-weight: bold;
  margin-right: 43px;
}

.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 30px;
  padding-right: 73px;
  padding-left: 73px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 135px;
  padding-top: 12px;
  margin: 0;
}

.hotel-detals {
  width: 290px;
  padding-left: 30px;
  padding-top: 7px;
  margin-right: auto;
}

.hotel-item h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.hotel-item h3:link,
.hotel-item h3:visited {
  color: #000000;
}

.hotel-item h3:hover {
  color: #81b3d2;
}

.hotel-item h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.category-price {
  display: inline-block;
  vertical-align: middle;
  width: 111px;
  margin-bottom: 11px;
}

.hotel-info {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  margin-right: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  background-color: #81b3d2;
  color: #ffffff;
}

.hotel-info:hover {
  background-color: #669ec0;
}

.hotel-info:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.book {
  display: inline-block;
  vertical-align: middle;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 142px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.book:hover {
  background-color: #604e43;
}

.book:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating svg {
  margin-right: 2px;
}

.rating svg:last-child {
  margin-right: 0px;
}

.rating {
  text-align: right;
}

.rating-number {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: normal;
  color: #666666;
  background-color: #f2f2f2;
  width: 110px;
}

.stars {
  display: block;
  margin-bottom: 35px;
  padding-top: 10px;
}

.main-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-page .main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 35px 0;
  text-align: center;
}

.main-footer .container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 36px 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.main-footer .map {
  line-height: 0;
}

.main-footer iframe {
  position: absolute;
  border: 0;
}

.main-footer .hashtag {
  font-size: 21px;
  font-weight: bold;
  width: 400px;
}

.footer-social {
  width: 400px;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 151px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0;
}

.footer-copyright span {
  padding-right: 10px;
}

.copyright svg {
  vertical-align: middle;
}

.copyright:hover path {
  fill: #81b3d2;
}

.copyright:active path {
  fill: #bdbbbc;
}
