body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

.inner-page {
  text-align: left;
}

.visually-hidden {
  display: none;
}

a {
  text-decoration: none;
}

.main-header {
  width: 1200px;
  margin-bottom: 65px;
}

.main-page-header {
  min-height: 565px;
  background-image: url("../img/sedona.jpg");
}

.inner-page .main-header {
  text-align: center;
}

.main-navigation {
  display: flex;
  background-color: transparent;
  padding: 0 73px;
  background-color: #ffffff;
  margin-bottom: 75px;
}

.main-header-logo {
  position: absolute;
}

.site-navigation {
  font-weight: bold;
  color: #000000;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 55px;
}

.site-navigation a:link,
.site-navigation a:visited {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a,
.site-navigation-current a:visited {
  color: #766357;
}

.sedona-features {
  margin-bottom: 55px;
}

.sedona-features .description {
  font-size: 21px;
  font-weight: bold;
  width: 620px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.sedona-features .features {
  margin-bottom: 55px;
}

.search-hotel .interesting {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.search-hotel .search-offer {
  line-height: 24px;
  color: #333333;
  margin-top: 30px;
  margin-bottom: 50px;
}

.button {
  font: inherit;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.title-button {
  font-size: 21px;
  width: 575px;
  background-color: #766357;
  margin: 0 auto;
  padding: 30px 0;
  display: inline-block;
}

.title-button:hover {
  background-color: #604e43;
}

.title-button:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-form {
  background-color: #ffffff;
  width: 575px;
  min-height: 395px;
  margin: 0 auto;
}

.search-item input {
  font: inherit;
  text-align: center;
  border: none;
  background-color: #f2f2f2;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.minus,
.plus {
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.minus:hover,
.plus:hover {
  color: #000000;
}

.minus:focus,
.plus:focus {
  color: #81b3d2;
  outline: none;
}

.search-button {
  font-size: 21px;
  background-color: #81b3d2;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:focus {
  background-color: #5496bd;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.hotel-item {
  min-height: 150px;
  margin: 0 73px;
}

.hotel-item .hotel-link {
  font-size: 21px;
  font-weight: bold;
}

.hotel-item .hotel-link:link,
.hotel-item .hotel-link:visited {
  color: #000000;
}

.hotel-item .hotel-link:hover {
  color: #81b3d2;
}

.hotel-item .hotel-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.rating-number {
  color: #666666;
  background-color: #f2f2f2;
}

.hotel-info {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  background-color: #81b3d2;
  color: #ffffff;
}

.hotel-info:hover {
  background-color: #669ec0;
}

.hotel-info:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.book {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.book:hover {
  background-color: #604e43;
}

.book:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-page .main-footer {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  padding: 35px 0;
  text-align: center;
}

.main-footer .map {
  position: absolute;
}

.main-footer .container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 35px 0;
  margin-top: 446px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.main-footer .hashtag {
  font-size: 21px;
  font-weight: bold;
  width: 400px;
}

.footer-social {
  width: 400px;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-copyright {
  width: 400px;
  margin: 0;
}

.social-button {
  color: #000000;
}

.copyright:link {}

.copyright:hover {}

.copyright:focus {}
